.activity{
    padding: 16px 18px;
    border-radius: 15px;
    position: relative;
}

.activity h3 {
    text-transform: capitalize;
    margin: 10px 0;
}

.activity b {
    font-weight: 600;
}

.about{
    color: gray;
}

.btn-container {
    padding-bottom: 40px;
}

.btn-container button {
    position: absolute;
    bottom: 0;
    font-weight: 650;
    outline: none;
    font-size: 16px;
    padding: 10px;
    width: 87%;
    border: none;
    margin-bottom: 15px;
    border-radius: 8px;
    cursor: pointer;
}