.main-container {
    display: grid;
    grid-template-columns: 4fr 1.3fr;
    grid-auto-flow: dense;
    gap: 30px;
}

.primary-bg {
    background-color: #e7e7e7;
}

.activities-container {
    margin: min(7%, 70px);
    margin-bottom: 0;
}

.heading {
    color: green;
    font-size: clamp(28px, 100%, 20px);
    font-weight: 600;
    margin-bottom: 45px;
}

.rotate {
    transform: rotate(45deg);
}

.activities-container h4 {
    margin-bottom: 65px;
    font-size: 22px;
}

.activities-container .activity-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    grid-gap: 30px;
}

.activities-container img {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
    border-radius: 10px;
}

.cart-container {
    grid-column: 2;
    height: 100%;
    padding: 0 30px;
}

.bg-white {
    background-color: #fff;
}

.bg-green {
    background-color: mediumseagreen;
    color: white;
}

.cart-container img {
    clip-path: circle(40%);
    max-width: 40%;
    margin-left: -15px;
    aspect-ratio: 8/4;
    object-fit: cover;
    overflow: hidden;
}


@media (max-width: 947px) {
    .main-container {
        display: block;
    }

    .person {
        width: 50%;
        margin-top: 40px;
    }

    .fitness-info {
        max-width: 40%;
        margin-top: 0;
    }

    .heading {
        position: absolute;
        top: 0;
        text-align: center;
        margin-top: 30px;
    }

    .details p{ 
        width: 100%;
    }

    .details {
        display: flex;
        gap: 20px;
    }

    .mobile-flex {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 30px;
        justify-content: space-between;
    }

    .break-container, .completed-btn-container, .details-container{
        margin: 25px 0 !important;
    }
}